USE [master]
GO
/****** Object:  Database [SQLDesign]    Script Date: 2024-12-08 19:25:30 ******/
CREATE DATABASE [SQLDesign]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQLDesign', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SQLDesign.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQLDesign_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SQLDesign_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQLDesign].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQLDesign]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDate] [date] NULL,
	[IDNumber] [nvarchar](20) NULL,
	[Hometown] [nvarchar](50) NULL,
	[Major] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[School] [nvarchar](100) NULL,
	[SchoolType] [nvarchar](20) NULL,
	[Resume] [nvarchar](max) NULL,
	[luqustate] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chushiScores]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chushiScores](
	[StudentID] [int] NULL,
	[CourseName] [nvarchar](50) NULL,
	[Score] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fushiScores]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fushiScores](
	[StudentID] [int] NULL,
	[Comment] [nvarchar](200) NULL,
	[LanScore] [decimal](5, 2) NULL,
	[MajorScore] [decimal](5, 2) NULL,
	[OtherScore] [decimal](5, 2) NULL,
	[TotalScore] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zhiyuan]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zhiyuan](
	[PreferenceID] [int] NOT NULL,
	[FirstPreference] [nvarchar](50) NULL,
	[SecondPreference] [nvarchar](50) NULL,
	[ThirdPreference] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PreferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[stu_info]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[stu_info] AS
SELECT 
    s.studentID,
    s.name,
    z.FirstPreference AS p1,
	z.SecondPreference AS p2,
    z.ThirdPreference AS p3,
    SUM(c.Score) AS grade1,
    f.TotalScore AS grade2,
    s.school,
    s.major
FROM dbo.Student s
JOIN zhiyuan z
	ON z.FirstPreference = s.StudentID
JOIN fushiScores f
    ON f.studentID = s.studentID
JOIN chushiScores c
    ON c.studentID = s.studentID
GROUP BY 
    s.studentID, s.name, z.FirstPreference, z.SecondPreference, z.ThirdPreference, f.TotalScore, s.school, s.major;
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professor](
	[ProfessorID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[Photopath] [nvarchar](max) NULL,
	[Biography] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[SubjectID] [int] NULL,
	[StuNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfessorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectInfo]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectInfo](
	[SubjectID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Level] [nvarchar](20) NULL,
	[ParentID] [int] NULL,
	[Dscrpt] [nvarchar](max) NULL,
	[Type] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfessorSubject]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfessorSubject](
	[ProfessorID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfessorID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProfessorSubjectView]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProfessorSubjectView] (id, name, leftNum, secSubject, fstSubject) AS
SELECT 
    p.ProfessorID AS id, 
    p.Name AS name, 
    p.StuNumber AS leftNum, 
    childSubject.Name AS secSubject, 
    parentSubject.Name AS fstSubject
FROM 
    Professor p
JOIN 
    ProfessorSubject ps
ON 
    ps.ProfessorID = p.ProfessorID
JOIN 
    SubjectInfo AS childSubject
ON 
    childSubject.SubjectID = ps.SubjectID
LEFT JOIN 
    SubjectInfo AS parentSubject
ON 
    parentSubject.SubjectID = childSubject.ParentID;
GO
/****** Object:  Table [dbo].[fushiInfo]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fushiInfo](
	[RetestID] [int] NOT NULL,
	[TargetMajor] [nvarchar](50) NULL,
	[StuType] [nvarchar](20) NULL,
	[biyeDate] [date] NULL,
	[urgenContact] [nvarchar](50) NULL,
	[fushiTime] [datetime] NULL,
	[fushiLoc] [nvarchar](100) NULL,
	[tiaoji] [nvarchar](20) NULL,
	[fangxiang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RetestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studentfushi]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studentfushi](
	[StudentID] [int] NOT NULL,
	[RetestID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[RetestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSubject]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubject](
	[StudentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zhaoshengmulu]    Script Date: 2024-12-08 19:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zhaoshengmulu](
	[CatalogID] [int] NOT NULL,
	[SubjectID] [int] NULL,
	[ProfessorID] [int] NULL,
	[chushiSubjects] [nvarchar](200) NULL,
	[fushiSubjects] [nvarchar](200) NULL,
	[AnnualNum] [int] NULL,
	[ExtraNum] [int] NULL,
	[Year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CatalogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chushiScores]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[ProfessorSubject]  WITH CHECK ADD FOREIGN KEY([ProfessorID])
REFERENCES [dbo].[Professor] ([ProfessorID])
GO
ALTER TABLE [dbo].[ProfessorSubject]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SubjectInfo] ([SubjectID])
GO
ALTER TABLE [dbo].[Studentfushi]  WITH CHECK ADD FOREIGN KEY([RetestID])
REFERENCES [dbo].[fushiInfo] ([RetestID])
GO
ALTER TABLE [dbo].[Studentfushi]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentSubject]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentSubject]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SubjectInfo] ([SubjectID])
GO
ALTER TABLE [dbo].[SubjectInfo]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[SubjectInfo] ([SubjectID])
GO
ALTER TABLE [dbo].[zhaoshengmulu]  WITH CHECK ADD FOREIGN KEY([ProfessorID])
REFERENCES [dbo].[Professor] ([ProfessorID])
GO
ALTER TABLE [dbo].[zhaoshengmulu]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SubjectInfo] ([SubjectID])
GO
USE [master]
GO
